
 .login{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg?w=2000');
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 
  
} 
.main{
    margin-top: -6rem;
}

.MuiButton-root{
    background-color: rgb(156, 34, 160) !important;
}

.MuiTypography-alignCenter{
   
    display: flex;
    flex-direction: column;
    margin-top: -5rem;
}

.MuiSvgIcon-root{
    font-size: 53px !important;
}
.signin{
    margin-right: 6rem;
}